$accent: #f54932;
$defoult: #313131;
$blue: #3057a2;

%golos-400 {
  font-family: "GolosText-Regular", sans-serif;
  font-weight: 400;
}
%golos-500 {
  font-family: "GolosText-Medium", sans-serif;
  font-weight: 500;
}
%golos-600 {
  font-family: "GolosText-SemiBold";
  font-weight: 600;
}
%golos-700 {
  font-family: "GolosText-Bold";
  font-weight: 700;
}
%merri-700 {
  font-family: "Merriweather-Bold";
  font-weight: 700;
}
%merri-400 {
  font-family: "Merriweather-Regular";
  font-weight: 400;
}
%merri-300 {
  font-family: "Merriweather-Light";
  font-weight: 300;
}

// @function max($numbers...) {
//     @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//     @return m#{i}n(#{$numbers});
// }
