$accent: #f54932;
$defoult: #313131;
$blue: #3057a2;

%golos-400 {
  font-family: "GolosText-Regular", sans-serif;
  font-weight: 400;
}
%golos-500 {
  font-family: "GolosText-Medium", sans-serif;
  font-weight: 500;
}
%golos-600 {
  font-family: "GolosText-SemiBold";
  font-weight: 500;
}
%golos-700 {
  font-family: "GolosText-Bold";
  font-weight: 700;
}
%merri-700 {
  font-family: "Merriweather-Bold";
  font-weight: 700;
}
%merri-400 {
  font-family: "Merriweather-Regular";
  font-weight: 400;
}
%merri-300 {
  font-family: "Merriweather-Light";
  font-weight: 300;
}

// %btn{
//     cursor: pointer;
//     padding: 12px 36px;
//     width: fit-content;
//     text-transform: uppercase;
//     color: #ffffff;
//     @extend %roboto-400;
//     background-color: $accent;
//     border: 1px solid transparent;
//     box-shadow: 7px 7px 20px #fe3e575e;
//     &:hover {
//             background-color: #ff0021;
//             border: 1px solid #ffffff;
//         }
// }

// @function max($numbers...) {
//     @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//     @return m#{i}n(#{$numbers});
// }
